{% extends 'base.html' %}

{% block title %}
    resume
{% endblock title %}

{% block body %}
{% load static %}
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Prossionate about python Development goals is to achieve a good Position by doing satisfying work in the IT field .Strongly focused to Complete the tasks in fast force envirorment</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Jarjis Sk</h4>
            <p><em>Strong in design and integration with intuitive problem-solving skills. Proficient in PYTHON, C, JAVA, JAVASCRIPT, and SQL. Passionate about implementing and launching new projects. Ability to translate business requirements into technical solutions. Looking to start the career as an entry-level software engineer with a reputed firm driven by technology.</em></p>
            <ul>
              <li>west Bengal India</li>
              <li>+91 7908192689</li>
              <li>jarjissbj@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master of Computer Application </h4>
            <h5>2020 - 2022</h5>
            <p><em>Avanthi PG College, Usmania University Hyderabad</em></p>
            <p>I recently completed master in computer application from Avanthi PG College Affiliated to Uamania University,Hyterabad Telangana
            </p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Computer Application(BCA)</h4>
            <h5>2017 - 2020</h5>
            <p><em>Malda College, University of Gour Banga Malda</em></p>
            <p>I had completed my bachelor degree in computer application from malda college affiliated to University of Gour Banga, Malda West Bengal</p>
          </div>
          <h3 class="resume-title">Project</h3>
          <div class="resume-item">
            <h4>I built Data Science project - Global Terrorism Analysis </h4>
            <h5>completed</h5>
            
            <p>Find the activities of terrorism in the world
            </p>
          </div>
          <div class="resume-item">
            <h4>I create ML project - Predicting the price of used car’s using ML Tech </h4>
            <h5>completed</h5>
            
            <p>Find out the used cars and their price
            </p>
          </div>
          
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Internship</h3>
          <div class="resume-item">
            <h4>Internship program on Python Programming</h4>
            <h5>completed</h5>
            <p>I have done Internship of Python Programming.</p>
            <h5>Pantech e Learning - Completed</h5>
          </div>
          <h3 class="resume-title">Cources</h3>
          <div class="resume-item">
            <h4>MySQL for Data Analytics and Business Intelligence</h4>
            <h5>Udemy - Completed</h5>
          </div>
          <div class="resume-item">
            <h4>Linux Training Udemy - Completed</h4>
            <h5>Udemy - Completed</h5>
          </div>
          <div class="resume-item">
            <h4>REAT.JS</h4>
            <h5>Pantech e Learning - Completed</h5>
          </div>
          <div class="resume-item">
            <h4>Data Science Foundation</h4>
            <h5>Great Learning - Completed</h5>
          </div>
          <div class="resume-item">
            <h4>Artificial Intelligence</h4>
            <h5>Pantech e Learning - Completed</h5>
          </div>
          <h3 class="resume-title">Language & Key Skills</h3>
          <div class="resume-item">
            <h4>Languages</h4>
            <h5>Python</h5>
            <h5>JAVA</h5>
            <h5>Javascript</h5>
            <h5>react.js</h5>
            <h5>C</h5>
            <h5>DBMS</h5>
            <h5>MySQL</h5>
            <h5>HTML&CSS</h5>
            <h5>R</h5>
          </div>
          <div class="resume-item">
            <h4>Key Skills</h4>
            <h5>Web Development</h5>
            <h5>Software Development</h5>
            <h5>MongoDB</h5>
            <h5>Linux</h5>
            <h5>MS Office</h5>
            <h5>Django</h5>
            <h5>NumPy</h5>
            <h5>Pandas</h5>
            <h5>MatplotLib</h5>
            <h5>Operating System</h5>
            <h5>Networking</h5>
        </div>
        
      </div>

    </div>
  </section><!-- End Resume Section -->

{% endblock body %}
