{% extends 'base.html' %} 
{% block title %} Sing-Up {% endblock title %} 
{% block stylecss %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock stylecss %} 
{% block body %}

<div class="container mt-3 p-3">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <br />
      <br />
      <br />

      <h3 class="text-white bg-dark text-center p-3">Sign-Up Here</h3>
{% for message in messages %}

      <div
        class="alert alert-{{messages.tags}} alert-dismissible fade show"
        role="alert"
      >
        <strong>{{messages}} </strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
{% endfor %}

      <div class="card p-2">
        <form action="/auth/signup/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <h5>
              <span><i class="bx bx-envelope"></i>Email</span>
            </h5>
            <input
              tyle="text"
              class="form-control mb-3"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <h5>
              <span><i class="fas fa-key"></i>Password</span>
            </h5>
            <input
              type="text"
              class="form-control mb-3"
              name="password"
              required
            />
          </div>
          <div class="form-group">
            <h5>
              <span><i class="fas fa-lock"></i> Confirm Password</span>
            </h5>
            <input
              type="password"
              class="form-control mb-3"
              name="password2"
              required
            />
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-dark" type="submit">Signup</button>
          </div>
          <br />
          Already User? <a href="/auth/login/">Login</a>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
{% endblock body %}
